html {
     font-family: "short stack", "helvetica", "sans-serif";
}


header {
    text-align: center;
    border: none;
    max-width: 100%;

    
}

#logo {
    max-height: 2em;
    float: left;
    padding-top: .25em;
    padding-left: .25em;
    display: block;
    
        
}




.linkphotos {
    position: relative;
    max-width: 100%;
    top: 0;
    left: 0; 
    
    }



.outlink {
    max-height: 2em;
    padding: 1em;
        
}



#maindiv {
    text-align: center;
    margin-top: 5em;
    padding: 1em
}



#secondiv {
    text-align: center;
}


   

h1 {
    max-height: 1.5em;
}





#thetop {
    max-height: 4em;
}

h3 {
    text-align: left;
    padding-top: 4em;
}



h4 {
    text-decoration: underline;
}


#whatsnew {
    width: 100%;
    position: relative;
    
}

#wn {
     z-index: 100;
    position: absolute;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px 8px #000;
    top: 3em
}


#ue {
   z-index: 100;
    position: absolute;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px 8px #000;
    top: 3em;
    text-align: center;
}

#cu {
     z-index: 100;
    position: absolute;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px 8px #000;
    top: 3em;
    text-align: center;
        
}

#upcoming {
    width: 100%;
    position: relative;
}

#callus {
    width: 100%;
    position: relative;
}

#wnking {
    position: relative;
    max-width: 100%;
    opacity: .25;
    top: 0;
    left: 0; 
}


    

#wnid {
   
    text-align: center;
    text-shadow: 2px 2px 8px #000;
    }

#wndiv {
    background-image: url(whatsnew.JPG);
    color: white;
     background-size: cover;
    height: 6em;
    opacity: .8;
    margin-top: -1.4em;
    line-height: 3;
    
}

#condiv {
    background-image: url(batphone.JPG);
    background-color: black;
    background-size: cover;
    height: 7em;
    opacity: .80;
    margin-top: -1.4em;
    line-height: 3;
    max-width: 100%;
    color: white;
    
}

#conid {
    text-align: center;
}

#uediv {
    background-image: url(army.jpg);
    background-color: black;
    background-size: contain;
    height: 7em;
    opacity: .80;
    margin-top: -1.4em;
    line-height: 3;
    color: white;
    
}

#ueid {
    text-align: center;
    text-shadow: 2px 2px 8px #000;
}

.pagedesc {
    text-align: center;
}

#map-canvas {
    width: 50%;
    height: 75%;
    background-color: #ccc;
    align-content:center;
    margin-left:25%;
    margin-right: 25%;
        
}

#contactinfo {
    text-align: center;
}




html {
    background-color: #f3f2e0;
}



#cube {
    max-height: 3em;
    float: right;
}

#admin {
   background-image: url(prizes.JPG);
    background-color: black;
    background-size: contain;
    height: 7em;
    opacity: .8;
    margin-top: -1.4em;
    line-height: 3;  
    text-emphasis: bold;
    
}

#adminPage {
    color: black;
    text-align: center;
    text-shadow: 2px 2px 15px #f4eb0a;
}

textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
}

#weeklyUpdate {
    float: left;
    width: 50%;
    
}

#eventsUpdate {
    margin-left: 50%;
}

#updates {
    max-width: 100%;
}

#top {
    display: inline; 
    text-align: center;
}

.dropdown {
    postion: relative;
}

.drop-nav {
    text-align: left;
    
        
}

ul li a {
    text-decoration: none;
    line-height: 40px;
    margin: 0 10px 0 0;
    color: black;
}

ul li {
    list-style-type: none;
    float: left;
    padding: 1px;
      }














